{
    "presets": [
        "es2015",
        "next/babel",
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "actions": "./src/redux/actions",
                "reducers": "./src/redux/reducers",
                "stores": "./src/redux/stores",
                "underscore": "lodash",
                "apps":  "./src/apps"
            }
        }]
    ]
}
